.content header {
    font-size: 8.75rem;
    font-weight: 600;
    color: var(--blue);
    background: url('/icons/levelup.svg') no-repeat center;
    background-size: contain;
}

.content strong {
    font-size: 2.5rem;
    color: var(--title);
}

.content p {
    font-size: 1.25rem;
    color: var(--text);
    margin-top: 0.24rem;
}