.container {
    padding: 0;
    max-width: 400px;
    padding: 0 22px;
}

.content {
    flex: 1;
    height: 300px;
}
.content h2 {
    padding-top: 20px;
    text-align: left;
}

.content form {
    flex: 1;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.content form label {
    font-size: 15px;
    padding-bottom: 5px;
    color: var(--text);
    font-weight: 500;
}

.content form input {
    width: 180px;
    height: 40px;
    border: none;
    background: var(--gray-line);
    color: var(--text);
    font-size: 20px;
    margin-left: 2px;
    text-align: center;
    border-radius: 5%;
}

.content button {
    width: 110px;
    height: 40px;

    margin-top: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5%;

    background: var(--blue);
    color: var(--white);

    font-size: 15px;
    font-weight: 600;

    transition: background-color 0.5s;

    border: none;
    outline: none;

    position: absolute;
    top: 210px;
    right: 20px;
}

.content button:not(:disabled):hover {
    background: var(--blue-dark);
}

.content button:disabled {
    cursor: not-allowed;
    background: var(--gray-line);
    color: var(--text);
}

