.container {
    background: var(--blue);
    height: 100vh;
    max-height: 100%;

    display: flex;
    flex-wrap: wrap;
}
.container img {
    width: 768px;
    height: 660px;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 10rem;
}

.login img {
    width: 360px;
    height: 76px;
}

.login .texts {
    width: 360px;
    padding-top: 96px;
}

.login .texts h1 {
    color: var(--white);
}

.login .texts .github {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 24px;
}

.login .texts .github p {
    color: var(--text-highlight);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.login .texts .github img {
    width: 40px;
    height: 40px;
    margin-right: 24px;
}
